<!-- public/templates/restaurants/index.html -->

<a href="/#">index</a>
<ul ng-repeat="restaurant in restaurants">
    <li><a ng-click="viewRestaurant(restaurant.id)">{{ restaurant.name }}</a></li>
</ul>