<!DOCTYPE html>
<html ng-app="angularApp">
<head>
  <title>AngularApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <!-- Dirty... -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-view>
    <%= yield %>
  </div>
</body>
</html>
